<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
<center>
<h2>Student Registration</h2>
<form action="/submit" method="POST">
    Name:
    <input type="text" name="name" required><br><br>

    Email:
    <input type="email" name="email" required><br><br>
    Year:
    <select name="year">
        <option>1st Year</option>
        <option>2nd Year</option>
        <option>3rd Year</option>
        <option>4th Year</option>
    </select>
    <br><br>
    <input type="submit" value="Register">
</form>
</center>
</body>
</html>